%h1= Settings.phone_number
%table.table
  %tr
    %th
    - @days.each do |day|
      %th= day.strftime("%b %-d")
  - @users.each do |user|
    %tr
      %td= user.name
      - @days.each do |day|
        - mood = user.moods.where(date: day).last
        %td= mood.nil? ? image_tag("nada.png") : image_tag(mood.image)